{
    "presets": [
      "@babel/preset-typescript",
      ["@babel/env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      ["module-resolver", {
        "root": ["."],
        "alias": {
          "@startup": "./src/startup",
          "@config": "./src/config",
          "@util": "./src/v1/util",
          "@user": "./src/v1/user"
        }
    }]
    ]
}